* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 2rem;
}
.section{
    width: 100%;
    height: 100%;
}

.section__contenedor li{
    list-style: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.section input{
    width: 20%;
    position: relative;
    margin-top: 2rem;
    left: 40%;

}
.color__par{
    background-color: darkgray;
    
}

.color__impar{
    color: aliceblue;
    background-color: rgb(24, 7, 7);
}